/* Forms & Inputs Style*/
@variant dark (&:where(.dark, .dark *));
body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.form-input {
  @apply dark:bg-gray-800 border dark:border-gray-600 dark:placeholder:text-gray-500 dark:text-white border-gray-300 rounded px-3 py-2 bg-white text-lg outline-none focus:border-teal-700 transition-colors duration-300;
}
.form-select {
  @apply appearance-none border border-gray-300 rounded px-3 py-2 bg-white text-lg outline-none focus:border-teal-700 transition-colors duration-300 pr-8 dark:bg-gray-800 dark:border-gray-600 dark:text-white dark:placeholder:text-gray-500;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8'%3E%3Cpath d='M1 1l5 5 5-5' stroke='%236b6058' stroke-width='1.5' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
}
.btn-add {
  @apply bg-gray-900 dark:bg-gray-700 text-white text-lg font-medium px-6 py-2 rounded cursor-pointer transition-all duration-150 hover:bg-teal-700;
}

.btn-add:active {
  transform: scale(0.97);
}

.pill {
  @apply bg-white dark:bg-gray-800 border border-gray-300 dark:border-gray-600 rounded-full px-4 py-1 text-base font-medium text-gray-500 dark:text-gray-400 cursor-pointer transition-colors duration-300 hover:border-teal-700 hover:text-teal-700 dark:hover:border-teal-400 dark:hover:text-teal-400;
}
.pill-active{
  @apply bg-teal-700 border-teal-700 text-white;
}

.empty-state {
  @apply flex flex-col items-center justify-center py-20 gap-3;
}

.labels {
  @apply text-sm font-medium tracking-widest text-gray-500 mb-1 dark:text-gray-500;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}